@import "styles/abstracts/_variables.scss";

$padding-top: 4rem;
$padding-bottom: 2rem;

.ls {
  width: 100%;
  padding: 0;
  background-color: $color-primary;

  &__body {
    max-width: $body-max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30rem 1fr;
    min-height: 80vh;

    &--left {
      width: 20rem;
      margin: 0 auto;
      padding: $padding-top 0 $padding-bottom;

      &-logo {
        img {
          width: 100%;
        }
      }

      &-text {
        width: 90%;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        .text-top {
          font-size: 1.1rem;
          text-align: center;
        }
        .text-btn {
          justify-self: center;
          margin: 1rem 0;
          .button__btn {
            width: 15rem;
            background-color: $color-green;
            color: $color-black;
          }
        }
        .text-bottom {
          text-align: center;
          font-size: 1.1rem;
          .points {
            color: $color-yellow;
          }
        }
      }
    }

    .right-background {
      background-color: $color-white;
      background: $background-gradient;
    }
    &--right {
      padding: $padding-top 0 $padding-bottom;
      border-left: 2px solid $color-secondary;
      padding-left: 6rem;
      min-width: 30rem;
      margin: 0;

      &-heading {
      }
      &-google {
        margin: 2rem auto 2rem;
        .button__btn {
          box-sizing: border-box;
          border: 2px solid $color-secondary;
          width: 16rem;
        }
      }
      &-or {
        display: inline-block;
        font-size: 1rem;
        position: relative;
        margin-left: 7rem;
        color: $color-grey-light;
        font-weight: 600;

        &::before {
          position: absolute;
          content: "";
          width: 100px;
          height: 2px;
          border-radius: 10px;
          background-color: $color-grey-light;
          top: 10px;
          left: -111px;
        }
        &::after {
          position: absolute;
          content: "";
          width: 100px;
          height: 2px;
          border-radius: 10px;
          background-color: $color-grey-light;
          top: 10px;
          right: -111px;
        }
      }

      .ls__form {
        font-size: 1.1rem;
        margin-top: 2rem;
        display: grid;
        column-gap: 3rem;
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
        width: 28rem;

        .grid-1fr-1fr {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 2.5rem;
        }

        .label {
          display: inline-block;
          margin: 0.5rem 0;
        }

        input {
          background-color: $color-white;
          box-shadow: inset 3px 3px 10px #d0d9d9, inset -3px -3px 10px #ffffff;
          border-radius: 7px;
          border: none;
          padding: 0.8rem;
          width: 100%;
          font-family: $default-font;
          font-size: 1rem;
          box-sizing: border-box;
          outline: none;
          border: 2px solid transparent;

          &:focus {
            border: 2px solid $color-secondary;
          }
        }
        &-btn {
          margin-top: 1rem;
          .button__btn {
            background-color: $color-green;
            color: $color-black;
            width: 12rem;
          }
        }
      }
    }
  }
}
