@import "../../styles/abstracts/_variables.scss";

.button {
  display: inline;

  &__btn {
    width: 8rem;
    background-color: $color-secondary;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: .8rem 1rem;
    color: $color-white;
    font-weight: 500;
    font-size: 1rem;
    font-family: $default-font;
  }
}