@import "../../styles/abstracts/_variables.scss";

.review {
  font-size: 1rem;
  // background-color: $color-primary;
  // padding: 2rem;

  &__body {
    background-color: $color-primary;
    background: linear-gradient(120deg, $color-primary 20%, $color-white);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 4rem 1fr;

    max-width: $body-max-width;
    padding: 1.5rem;
    margin: 2rem auto;
    box-shadow: 13px 12px 20px #dde6e6, -13px -12px 20px #fcffff;

    &--img {
      width: 3rem;
      height: 3rem;
      background: $img-gradient;
      border-radius: 100px;
      margin-top: 1em;

      img {
        width: 100%;
        border-radius: 100px;
      }
    }

    &--text {
      &-heading {
        font-size: 1.2rem;
      }

      &-para {
        font-size: 1.1rem;
      }
    }
  }
}
