@import "../../styles/abstracts/variables";

.searchPage {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 70% 30%;

  max-width: $body-max-width;
  padding: 0 2rem;
  margin: 5rem auto;

  // background-color: rgb(236, 91, 91);

  &__info {
    // background-color: rgb(145, 255, 0);
    max-width: 60rem;
  }
  
  &__img {
    height: 20rem;
    width: 20rem;
    margin: auto;
    border: 1px solid $color-black;
    background: $img-gradient;
  }
}