@import 'styles/abstracts/variables';

.searchBar {
  &__input {
    background-color: $color-white;
    box-shadow: inset 3px 3px 10px #d0d9d9, inset -3px -3px 10px #ffffff;
    border-radius: 100px;
    border: none;
    outline: none;

    padding: 1.3rem 2rem;
    line-height: 1.2rem;
    width: 30rem;

    font-size: 1.4rem;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
  }
}
