@import "../../styles/abstracts/_variables.scss";

.header {
  background-color: $color-header;
  
  &__logo{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;

    .logo {
      padding-top: 1rem;
    }
  }

  &__navigation {
    background-color: $color-navigation;

    ul {
      display: flex;
      justify-content: center;
      padding: 0.5em 0;
      li {
        list-style-type: none;
        
        &:not(:last-child){
          border-right: 1px solid $color-white;
        }

        a {
          text-decoration: none;
          color: $color-white;
          padding: 0 2rem;          
        } 
      }
    }
  }
}
